*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.App {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  background-color: #3264fe;
  place-items: center;
}
